*{
    background-color: grey;
}
body{
    background-color: grey;
    color: white;
}
#form {
    margin: auto;
}

#head {
    text-align: center;
    margin: 20px;
    text-decoration: underline;
    font-weight: bold;
}

.codes {
    height: 600px;
    background-color: black;
    color: white;
    width: 100%;
    border: 3px solid black;
    overflow: scroll;
}

.copybtn {
    width: 33%;
    background-color: black;
}

#maincodesection {
    display: flex;
    justify-content: space-around;
}

.btncode {
    margin-left: 77%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 4px;
    cursor: pointer;
    border-radius: 24px;
    padding: 4px 10px;
}

.btncode:hover {
    color: whitesmoke;
}